:host {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#month {
	font-size: var(--title-two-font-size);
	margin: var(--space-one);
}

#calendar {
	font-family: 'Helvetica';
	font-size: var(--font-size);

	display: grid;
	grid-template-columns: repeat(7, var(--cell-size));
	grid-template-rows: var(--cell-size);
	grid-gap: var(--cell-gap);
}

.calendar-header {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#caption {
	align-self: flex-start;
	margin-top: var(--space-two);
}

#caption-title {
	font-size: var(--title-two-font-size);
	margin-bottom: var(--space-three);
}

.caption-text {
	display: inline-block;
	padding: 1vmin;
}

.Robin, .Yacine, .Julie, .Jean-Christophe, .Romain {
	display: inline-block;
	width: var(--sub-cell-size);
	height: var(--sub-cell-size);
}

.Robin {
	background-color: var(--robin-color);
}

.Yacine {
	background-color: var(--yacine-color);
}

.Julie {
	background-color: var(--julie-color);
}

.Jean-Christophe {
	background-color: var(--jean-christophe-color);
}

.Romain {
	background-color: var(--romain-color);
}