* {
	font-family: Helvetica;
}
	
:root {
	--title-one-font-size: 4vmin;
	--title-two-font-size: 3vmin;

	--space-one: 5vmin;
	--space-two: 4vmin;
	--space-three: 3vmin;

	--cell-size: 7vmin;
	--cell-color: rgb(215, 215, 215);
	--cell-gap: 2vmin;
	--font-size: 2vmin;

	--sub-cell-size: 2vmin;

	--robin-color: rgb(219, 0, 50);
	--yacine-color: rgb(255, 73, 176);
	--julie-color: rgb(122, 95, 196);
	--jean-christophe-color: rgb(255, 232, 22);
	--romain-color: rgb(42, 208, 61);
}